.btn{
    display:inline-block;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn:hover{
    color:#212529
}
.btn:focus{
    outline:0;
    box-shadow:0 0 0 .25rem rgba(255,200,0,.25)
}
.btn:disabled{
    pointer-events:none;
    opacity:.65
}
.btn-verde{
    color:beige;
    background-color: #003a1d;
}
.btn-verde:hover{
    color:beige;
    background-color:green
}
.btn-success{
    color:#fff;
    background-color:#198754;
    border-color:#198754
}
.btn-success:hover{
    color:#fff;
    background-color:#157347;
    border-color:#146c43
}
.btn-success:focus{
    color:#fff;
    background-color:#157347;
    border-color:#146c43;
    box-shadow:0 0 0 .25rem rgba(60,153,110,.5)
}
.btn-success:active{
    color:#fff;
    background-color:#146c43;
    border-color:#13653f
}
.btn-success:active:focus{
    box-shadow:0 0 0 .25rem rgba(60,153,110,.5)
}
.btn-success:disabled{
    color:#fff;
    background-color:#198754;
    border-color:#198754
}
.btn-danger{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}
.btn-danger:hover{
    color:#fff;
    background-color:#bb2d3b;
    border-color:#b02a37
}
.btn-danger:focus{
    color:#fff;
    background-color:#bb2d3b;
    border-color:#b02a37;
    box-shadow:0 0 0 .25rem rgba(225,83,97,.5)
}
.btn-danger:active{
    color:#fff;
    background-color:#b02a37;
    border-color:#a52834
}
.btn-danger:active:focus{
    box-shadow:0 0 0 .25rem rgba(225,83,97,.5)
}
.btn-danger:disabled{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}
.btn-dark{
    color:#fff;
    background-color:#212529;
    border-color:#212529
}
.btn-dark:hover{
    color:#fff;
    background-color:#1c1f23;
    border-color:#1a1e21
}
.btn-dark:focus{
    color:#fff;
    background-color:#1c1f23;
    border-color:#1a1e21;
    box-shadow:0 0 0 .25rem rgba(66,70,73,.5)
}
.btn-dark:active{
    color:#fff;
    background-color:#1a1e21;
    border-color:#191c1f
}
.btn-dark:active:focus{
    box-shadow:0 0 0 .25rem rgba(66,70,73,.5)
}
.btn-dark:disabled{
    color:#fff;
    background-color:#212529;
    border-color:#212529
}
.btn-link{
    font-weight:400;
    color: #ffc800;
    text-decoration:underline
}
.btn-link:hover{
    color:#ffc800;
}
.btn-link:disabled{
    color:#6c757d
}
.btn-group-lg>.btn,.btn-lg{
    padding:.5rem 1rem;
    font-size:1.25rem;
    border-radius:.3rem
}
.btn-group-sm>.btn,.btn-sm{
    padding:.25rem .5rem;
    font-size:.875rem;
    border-radius:.2rem
}
.collapse:not(.show){
    display:none
}
.btn-group{
    position:relative;
    display:inline-flex;
    vertical-align:middle
}
.btn-group>.btn{
    position:relative;
    flex:1 1 auto
}
.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover{
    z-index:1
}
.btn-group>.btn-group:not(:first-child),.btn-group>.btn:not(:first-child){
    margin-left:-1px
}
.btn-group>.btn-group:not(:last-child)>.btn,.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.btn-group>.btn-group:not(:first-child)>.btn,.btn-group>.btn:nth-child(n+3),.btn-group>:not(.btn-check)+.btn{
    border-top-left-radius:0;
    border-bottom-left-radius:0
}

.btn-xl{
    padding:1.25rem 2.5rem;
    font-family:Oswald,sans-serif;
    font-size:1.125rem;
    font-weight:700
}
.btn-2{
    padding:1.25rem 2.5rem;
    font-family:Oswald,sans-serif;
    font-size:1.125rem;
    font-weight:700;
    width:18%;
    margin-left:41%
}

.btn-social{
    height:2.5rem;
    width:2.5rem;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:0;
    border-radius:100%
}

button{
    border-radius:0
}
button:focus:not(:focus-visible){
    outline:0
}
button,input,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button{
    text-transform:none
}
[role=button]{
    cursor:pointer
}
[list]::-webkit-calendar-picker-indicator{
    display:none
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
    cursor:pointer
}

